section {
  margin-left: 1em;
  margin-right: 1em;
  width:100%;
}

.tileControl {
  min-width: 30%;
  display: inline-block;
  background-color: #00A0B1;
  height: 5em;
  text-align: center;
  color: white;
  font-size: 2em;
  margin: 0.2em;
  border-radius: 25px;
  position: relative;
}

#console input {
  width: 100%;
  height: 5em;
}

#status {
  font-size: 2em;
  font-family: Garamond, serif;
  font-weight: bold;
  text-align: center;
}

#paused {
  font-size: 2em;
  font-family: Garamond, serif;
  font-style: italic;
  text-align: center;
}
